:root{
    --brown-light: #78283bb5;
    --brown-dark: #702536d4;
    --gray-light-background: #c6c6c6;
    --gray-very-light-background: #e4e4e4;
    --gray-light: #5c5c5c;
    --gray-very-light: #a3a3a3;
    --cream-light: #ddd7d7;
}