@import './_Vars.css';

.container-generalFooter{
    display: grid;
    grid-template-columns: 80% auto;
    width: 100vh;
    margin: 0 5%;
    gap: 32%;
}
.container-listFooter{
    display: flex;
    width: 105vh;
    gap: 4%;
    justify-content: space-around;
}
.list{
    width: 100%;
}
.list p{
   margin-bottom: 20px;
   font-weight: bold;
}
.list li{
    list-style: none;
    margin-bottom: 5px;
}
.list li a{
    color: var(--gray-very-light);
    text-decoration: none;
    font-size: smaller;
}
.list span{
    color: var(--gray-very-light);
}
.container-newsletterFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45vh;
}
.container-newsletterFooter p{
    font-weight: bold;
}
.container-newsletterFooter span{
    color: var(--gray-very-light);
    font-size: smaller;
    line-height: 15px;
}
.container-navBarFooter{
    width: 85%;
    height: 40px;
    margin: 15px 0 0;
    padding: 0 5px;
    display: inline-flex;
    justify-content: space-between;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--gray-very-light);
}
.container-navBarFooter input{
    border: none;
    width: 90%;
}
.container-navBarFooter input::placeholder{
    color: var(--gray-light);
}
.container-navBarFooter img{
    width: 30px;
    padding-left: 30px;
    cursor: pointer;
}