@import './_Vars.css';

.container-generalOrderItem {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 16px;
	margin-bottom: 24px;
	align-items: center;
}
.container-generalOrderItem figure {
	margin: 0;
}
.container-generalOrderItem figure img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}
.container-generalOrderItem p:nth-child(2) {
	color: var(--grey-light);
}
.container-generalOrderItem p:nth-child(3) {
	font-size: var(--md);
	font-weight: bold;
}
.container-generalOrderItem img{
	cursor: pointer;
}