@import './_Vars.css';

.container-cardRecommendation{
    display: grid;
    width: 45%;
    height: 50%;
    grid-template-rows: 1fr auto;
    place-items: center;
    margin: 0;
}
.container-imageRecommendation{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.container-imageBigRecommendation{
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: 0 10%;
    cursor: pointer;
    z-index: 0;
}
.container-imageBigRecommendation:hover{
    transform:scale(1.2);
    transition-duration: 0.2s;
    border-radius: 10px;
}
.container-imageBigRecommendation img{
    justify-self: left;
    width: 90%;
    height: 100%;
}
.container-imageLittlesRecommendation{
    display: flex;
    flex-direction: row;
    gap: 6%;
    margin: 0 15% 10px 15%;
}
.container-imageLittlesRecommendation img{
    width: 55px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    z-index: 2;
}
.container-imageLittlesRecommendation img:hover{
    transform:scale(1.5);
    transition-duration: 0.2s;
    border-radius: 10px;
}
.container-textRecommendation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.container-textRecommendation p:nth-child(1){
    color: black;
    margin: 0;
}
.container-textRecommendation p:nth-child(2){
    color: var(--brown-dark);
}
.line-textRecommendation{
    width: 80%;
    margin: 0 10% 0 ;
}