@import './_Vars.css';

.container-cardComplement{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 38px;
    gap: 0 10px;
    cursor: grab;
}
.container-imageComplement{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0;
    place-content: center;
}
.container-imageBigComplement{
    display: block;
    margin: auto;
    width: 100%;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    z-index: 0;
}
.container-imageBigComplement:hover{
    transform:scale(1.1);
    transition-duration: 0.2s;
    border-radius: 10px;
}
.container-imageBigComplement img{
    width: 100%;
    height: 100%;
}
.container-imageLittlesComplement{
    display: block;
    margin: auto;
    margin: 5px;
    width: 90%;
}
.container-imageLittlesComplement img{
    width: 45px;
    height: 50px;
    margin: 0 2px;
    object-fit: contain;
    cursor: pointer;
    z-index: 2;
}
.container-imageLittlesComplement img:hover{
    transform:scale(1.3);
    transition-duration: 0.2s;
    border-radius: 10px;
}
.container-textComplement{
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
.container-textComplement p:nth-child(1){
    color: black;
    margin: 5px 0 15px;
}
.container-textComplement p:nth-child(2){
    color: var(--brown-dark);
    margin: 5px 0 10px;
}
.container-textComplement button{
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brown-dark);
    border-width: 2px;
    border-color: var(--brown-light);
    border-style:unset;
    font-size: small;
    color: white;
    cursor: pointer;
}
.container-textComplement button:hover{
    transform:scale(1.1);
    transition-duration: 0.2s;
}
@media (max-width: 640px) {
    .container-cardComplement{
        height: 350px;
        margin: 5px 10px;
    }
    .container-imageComplement{
        width: 90%;
        height: 150px;
        display: block;
        margin: auto;
    }
    .container-imageBigComplement{
        height: 100%;
    }.container-textComplement{
        height: 100px;
        margin-top: 40px;
    }
}