@import './_Vars.css';

.container-cardRecommendation{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 38px;
    gap: 0 10px;
    cursor: grab;
}
.container-imageRecommendation{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0;
    place-content: center;
}
.container-imageBigRecommendation{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin: 0 10px;
    cursor: pointer;
    z-index: 0;
}
.container-imageBigRecommendation:hover{
    transform:scale(1.1);
    transition-duration: 0.2s;
    border-radius: 10px;
}
.container-imageBigRecommendation img{
    width: 100%;
    height: 100%;
}
.container-imageLittlesRecommendation{
    display: flex;
    justify-content: space-around;
    margin: 10px 20px 2px;
    width: 90%;
}
.container-imageLittlesRecommendation img{
    width: 50px;
    height: 50px;
    margin: 0 2px;
    object-fit: contain;
    cursor: pointer;
    z-index: 2;
}
.container-imageLittlesRecommendation img:hover{
    transform:scale(1.3);
    transition-duration: 0.2s;
    border-radius: 10px;
}
.container-textRecommendation{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}
.container-textRecommendation p:nth-child(1){
    color: black;
    margin: 5px 0 15px;
}
.container-textRecommendation p:nth-child(2){
    color: var(--brown-dark);
    margin: 5px 0 10px;
}
.line-textRecommendation{
    width: 80%;
    margin: 0 10% 0 ;
}