@import './_Vars.css';

.container-generalRecommendation{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 1100px;
    height: 435px;
    margin: 0 70px; 
}
.container-generalRecommendation h4{
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
    color: var(--gray-light);
    z-index: 1;
}
.line-titleRecommendation{
    display: flex;
    justify-self: center;
    width: 99%;
    z-index: 1;
}
.container-subGeneralRecommendation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 98%;
    height: auto;
    gap: 0;
}
@media (max-width: 640px) {
	.container-generalRecommendation{
        width: 95%;
        height: 435px;
        margin: 0 20px; 
    }
}