@import './_Vars.css';

.topHeader-container{
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
}
.general-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--brown-dark);
    color: white;
    text-align: center;
}
.container-listTop{
    background-color: var(--gray-light-background);
    height: 30px;
}
.container-listTop ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 70px;
    margin: 7px 0;
    align-self: center;
    gap: 10px;
    list-style: none;
}
.container-listTop a{
    font-weight: bold;
    font-size: small;
    color: var(--gray-light);
    text-decoration: none;
}
